<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="eight wide column">
        <h4 class="ui inverted header">About AgDraft</h4>
        <span>AgDraft is the online platform connecting Australian farmers to skilled rural workers, fast. Workers of all ages and backgrounds are creating personal AgDraft profiles, complete with skills and experience levels. Farmers are posting jobs to this trusted network of workers, who’ve all been verified by previous employers.</span>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">How it works</h4>
        <div class="ui inverted link list">
          <a href="<%= get_started_path %>" class="item">Get Started for Free</a>
          <a href="http://toolbox.agdraft.com.au/how-it-works/rating-review-system/" class="item">Reviewing system</a>
          <a href="<%= new_worker_registration_path %>" class="item">Register to Work</a>
          <a href="<%= new_farmer_registration_path %>" class="item">Create Business Profile</a>
          <a href="http://toolbox.agdraft.com.au/resource-tool-box/on-farm-safety/" class="item">Farm Safety Resources</a>
          <a href="http://toolbox.agdraft.com.au/resource-tool-box/visa-help/" class="item">Backpacker Resources</a>
          <a href="http://toolbox.agdraft.com.au/resource-tool-box/rural-training/" class="item">Rural Training Resources</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Support</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Help</a>
          <a href="/faq" class="item">FAQs</a>
          <a href="/privacy" class="item">Privacy Policy</a>
          <a href="/terms_of_service" class="item">Terms of Use</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui basic primary inverted segment" style="text-align:center;margin-top:0px;">
  <span style="color: white;"><i class="copyright icon"></i>Copyright 2016 AgDraft All Rights Reserved.</span>
</div>