<div class="ui large top <%= action_name == 'home' ? 'fixed hidden' : 'visible' %> menu">
  <%= link_to root_path, { class: "header item" } do %>
    <%= image_tag "header-logo.png", class: "ui small image" %>
  <%end%>
</div>