<%= render partial: "search/search_resource_form", locals: { search_resource_path: search_jobs_path, resource_name: "job" } %>

<div class="ui visible message">
  <p>Displaying <%= @jobs.count %> of <%= Job.all.count %> jobs</p>
</div>

<div class="ui cards">
 <% @jobs.each do |job| %>
  <%= render partial: "job_card", locals: { job: job, job_path: "#" } %>
 <% end %>
</div>
