<%= render partial: "search/search_resource_form", locals: { search_resource_path: search_workers_path, resource_name: "worker" } %>

<div class="ui visible message">
  <p>Displaying <%= @workers.count %> of <%= Worker.visibles.count %> active workers</p>
</div>

<div class="ui cards">
 <% @workers.each do |worker| %>
  <%= render partial: "worker_card", locals: { worker: worker, worker_profile_path: "#" } %>
 <% end %>
</div>