<%= render "search/search_resource_form", search_resource_path: search_workers_path, resource_name: "worker" %>

<div class="ui visible message">
  <p>Displaying <%= @workers.count %> of <%= Worker.all.count %> workers</p>
</div>

<div class="ui cards">
 <% @workers.each do |worker| %>
  <%= render "includes/worker_card", worker: worker %>
 <% end %>
</div>