<div class="ui link card job-category <%= "red" if selected %>" data-id="<%= job_category.id %>">
  <div class="content">
    <div class="header"><%= job_category.title %></div>
    <div class="image">
      <%= image_tag "stock-image.png", class: "ui image display centered", type: "image" %>
    </div>
  </div>
</div>
