<div class="ui link card job-category <%= "red" if selected %>" data-id="<%= job_category.id %>">
  <div class="content">
    <div class="header"><%= job_category.title %></div>
    <div class="image">
      <img type="image" class="ui image display centered" src="/assets/stock-image.png">
    </div>
  </div>
</div>
