<%= link_to worker_dashboard_path do %>
  <button class="ui button">
   Skip for now
  </button>
<% end %>

<!-- Extract into view helpers -->
<%- if action_name == "job_categories" %>
  <%= link_to worker_onboard_skills_path do %>
    <button class="ui primary button">
     Next
    </button>
  <% end %>
<% end -%>

<%- if action_name == "skills" %>
  <%= link_to worker_dashboard_path do %>
    <button class="ui green button">
     Done
    </button>
  <% end %>
<% end -%>
