<div class="ui two bottom attached buttons">
  <%= link_to worker_dashboard_path, { class: "ui button" } do %>
    Skip for now
  <% end %>

  <!-- Extract into view helpers -->
  <%- if action_name == "job_categories" %>
    <%= link_to worker_onboard_skills_path, { class: "ui primary button" } do %>
      Next
    <% end %>
  <% end -%>

  <%- if action_name == "skills" %>
    <%= link_to worker_dashboard_path, { class: "ui green button" } do %>
      Done
    <% end %>
  <% end -%>
</div>
