<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead", locals: { header: "Reviews by you", icon: "announcement", description: "Reviews you have written for workers who have worked in your business.", live_link: false } %>
<% end %>

<% if @reviews.count > 0 %>
  <% @reviews.each do |review| %>
    <%= render partial: "includes/review_card", locals: { review: review } %>
  <% end %>
<% else %>
  <a href="http://toolbox.agdraft.com.au/how-it-works/rating-review-system/" target="_blank" class="ui info message">You have not reviewed any workers yet. Click here to learn more.</a>
<% end %>