<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead", locals: { header: "Reviews of you", icon: "announcement", description: "Other people's reviews of you", live_link: false } %>
<% end %>

<% if @reviews.count > 0 %>
  <% @reviews.each do |review| %>
    <%= render partial: "includes/review_card", locals: { review: review } %>
  <% end %>
<% else %>
  <<a href="http://toolbox.agdraft.com.au/agdraftblog/how-it-works/rating-review-system/" target="_blank" class="ui info message">You do not have any reviews by others yet. Click here to learn more.</a>
<% end %>