<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead", locals: { header: "Reviews by you", icon: "announcement", description: "Reviews you have written about others", live_link: false } %>
<% end %>

<% if @reviews.count > 0 %>
  <% @reviews.each do |review| %>
    <%= render partial: "includes/review_card", locals: { review: review } %>
  <% end %>
<% else %>
  <div class="ui info message">You have not reviewed any workers yet.</div>
<% end %>