<div class="ui column">
  <div class="ui padded segment basic">
    <div class="ui image">
      <%= link_to logo[:link], target: "blank" do %>
        <%= image_tag logo[:image] %>
      <%end%>
    </div>
  </div>
</div>