<div class="hero-image-container very-padded" id="get-started-hero">
    <h1 class="ui center aligned inverted header">Get started!</h1>
    <div class="ui segment basic"> 
      <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column center aligned">
          <%= link_to "Farmers", new_farmer_registration_path, class: "ui massive primary button" %>      
        </div>
        <div class="center aligned column">
          <%= link_to "Workers", new_worker_registration_path, class: "ui massive primary button basic" %>
        </div>
      </div>
    </div>
</div>