<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead" %>
<%end%>

<div class="ui stackable grid">
  <a class="ui primary icon button" href="<%= search_workers_path %>" target="_blank">
    <i class="search icon"></i>
    Find workers
  </a>
</div>
<h2>Recommended workers</h2>
<div class="ui hidden divider"></div>
<div class="ui cards">
  <% @recommended_workers.each do |worker| %>
    <%= render partial: "search/worker_card", locals: { worker: worker } %>
  <% end %>
</div>