<h1 class="ui header">
  <i class="<%= icon %> icon"></i>
  <div class="content">
    <%= header %>
    <div class="sub header"><%= description %></div>
  </div>
</h1>
<% if live_link %>
  <%= link_to "View Your Profile", "#", class: "ui button brown" %>
<%end%>