<div class="ui container">
  <div class="ui right floated icon text menu">
    <% if current_farmer && current_farmer.credit > 0 %>
      <h4 class="item aligned right">Credit: $<%= current_farmer.credit %></h4>
    <%end%>
    <% if @unseen_notifications %>
      <a class="item right aligned" data-tooltip="You have new notifications." data-inverted="" data-position="bottom center" href="<%= current_farmer ? farmer_notifications_path : worker_notifications_path %>" style="color: black;">
        <span class="ui empty mini floating circular blue notification label"></span>
    <% else %>
      <a class="item right aligned" href="<%= current_farmer ? farmer_notifications_path : worker_notifications_path %>" style="color: black;">
    <% end %>
        <i class="bell icon"></i>
      </a>
      <% logout_path = current_farmer ? destroy_farmer_session_path : destroy_worker_session_path %>
    <%= link_to "Log Out", logout_path, method: :delete, class: "item right aligned" %>
  </div>
  <div class="ui text menu">
    <div class="header item">
      Dashboard
    </div>
    <a class="item">
      Contact Us
    </a>
    <a class="item">
      About us
    </a>
    <a class="item">
      FAQ
    </a>
    <a class="item">
      Blog
    </a>
  </div>
</div>