<div class="computer tablet only row"> 
  <div class="ui inverted visible vertical sidebar menu">
    <div class="ui container">
      <%= image_tag "header-logo.png", class: "header item" %>
      <%= render partial: "/#{@dashboard_type}/includes/nav_items" %>
    </div>
  </div>
</div>