<div class="ui link card skill <%= "red" if selected %>" data-id="<%= skill.id %>">
  <div class="content">
    <div class="header"><%= skill.title %></div>
    <div class="image">
      <%= image_tag "stock-image.png", class: "ui image display centered", type: "image" %>
    </div>
  </div>
</div>
