<div class="ui link card skill <%= "red" if selected %>" data-id="<%= skill.id %>">
  <div class="content">
    <div class="header"><%= skill.title %></div>
    <div class="image">
      <img type="image" class="ui image display centered" src="/assets/stock-image.png">
    </div>
  </div>
</div>
