<div class="ui basic padded segment">
  <div class="ui cards">
    <% @selected_skills.each do |skill| %>
      <%= render "workers/skills/card", skill: skill, selected: true %>
    <% end %>
    <% @eligible_skills.each do |skill| %>
      <%= render "workers/skills/card", skill: skill, selected: false %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var skillsPath = '<%= worker_skills_path %>/';
</script>
