<div class="ui basic padded segment">
  <div class="ui label-list">
    <% @selected_skills.each do |skill| %>
      <div class="ui label huge" data-id="<%= skill.id %>">
        <%= skill.title %>
      </div>
    <% end %>
    <% @eligible_skills.each do |skill| %>
      <div class="ui label huge disabled" data-id="<%= skill.id %>">
        <%= skill.title %>
      </div>
    <% end %>
  </div>
</div>
