<div class="ui form" data-id="<%= unavailability.id if defined? unavailability %>">
  <div class="two fields">
    <div class="field">
      <label>Start date</label>
      <div class="ui calendar range-start">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="Start">
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar range-end">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input type="text" placeholder="End">
        </div>
      </div>
    </div>
    <button id="save" class="ui primary button" style="margin-top: 20px;" data-id="<%= unavailability.id if local_assigns[:unavailability] %>">
      Save
    </button>
    <button id="delete" class="ui button" style="margin-top: 20px;" data-id="<%= unavailability.id if local_assigns[:unavailability] %>">
      <i class="trash outline icon"></i>
    </button>
  </div>
</div>
