<% content_for :dashboard_header do %>
  <%= render partial: "includes/dashboard/masthead", locals: { header: "Unavailablity", icon: "ban", description: "Let prospective employers know when you will <b>not</b> be available", live_link: false } %>
<% end %>
<h3 class="ui header">When are you NOT available?</h3>
<div class="ui basic segment center aligned">
  <% @unavailabilities.each do |unavailability| %>
    <%= render "slot", unavailability: unavailability %>
  <% end %>
  <%= render "slot" %>
</div>

<script type="text/javascript">
  var unavailabilities = <%= raw @unavailabilities.to_json %>;
</script>