<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Choose the job you wish to invite this worker too
  </div>
  <div class="ui four column centered stackable grid segment basic">
    <%if @jobs.empty? %>
      <p><h2>You haven't published any jobs yet</h2></p>
    <%else%>
      <% @jobs.each do |j| %>
        <div class="ui aligned center column">
          <h3><%= j[:job].title %></h3>
          <button class="ui primary button <%= 'disabled' if j[:invited] %> js-invite-worker" data-id="<%= j[:job].id %>"><%= j[:invited] ? 'Invited' : 'Invite' %></button>
        </div>
      <%end%>
    <%end%>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Finished
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>