<h2>Thanks for taking the time to review <%= @worker.full_name %></h2>

<%= form_tag previous_employer_review_path(@previous_employer.id), method: "POST" do %>
  <p>
    <label class="integer optional" for="work_ethic">
      Please rate the employee on their <b>work ethic</b>
    </label>
    <select name="work_ethic">
      <option value="1">1: lazy</option>
      <option value="2">2: needed encouragement</option>
      <option value="3">3: good</option>
      <option value="4">4: great, worked well alone</option>
      <option value="5">5: unstoppable force</option>
    </select>
  </p>
  <p>
    <label class="integer optional" for="skills">
      Please rate the employee on their <b>skills</b>
    </label>
    <select name="skills">
      <option value="1">1: very poor – had low ability</option>
      <option value="2">2: poor – didn’t know how to complete tasks</option>
      <option value="3">3: good – had skills or could figure it out</option>
      <option value="4">4: great – highly skilled</option>
      <option value="5">5: excellent – top of their class</option>
    </select>
  </p>
  <p>
    <label class="integer optional" for="communication">
      Please rate the employee on their <b>communication</b>
    </label>
    <select name="communication">
      <option value="1">1: very poor – couldn’t understand instructions</option>
      <option value="2">2: poor – didn’t always understand or engage</option>
      <option value="3">3: good – adequate for the job</option>
      <option value="4">4: great – always understood and engaged</option>
      <option value="5">5: excellent – communication was perfect</option>
    </select>
  </p>
  <p>
    <label>Overall Rating (out of 5)</label><br/>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </p>
  <p>
    <label>Review</label><br/>
    <textarea name="review" style="width:100%;height:100px;"></textarea>
  </p>
  <%= submit_tag "Submit" %>
<%end%>