$primary : white;

#dashboard {
  .main.container{
    padding-top: 2em;
  }

  .navbar{
    border-radius:0px;
  }

  // ** SIDEBAR STYLING
  .ui.vertical.menu {

    .menu .item{
      padding: 1em 1.33em;
    }

    .header.item{
      width:250px;
      padding:0px;
    }

  }

  // ** MOBILE NAV STYLING
  @media (max-width: 767px) {
    .ui.inverted.navbar{
      width:100%;
      margin-top:14px!important;
      padding:5px;

      .brand.item{
        width:150px;
        height:50px;
      }
    }
    .ui.vertical.menu{
      margin-top: -15px !important;
      width: 100%;
      display: none;
      font-size:130%;
    }
    .main.container{
      padding-top: 2em;
      padding-left: 0px;
    }
  }

  @media (min-width: 768px) {
    .ui.vertical.menu{
      display:block;
    }
    .main.container{
      width:100%;
      padding-top: 2em;
      padding-right:60px;
      padding-left:280px!important;
    }
  }

  .ui.grid.left-border > .column:not(.row) {
    border-left: 5px #9C0000 solid;
    margin-bottom: 20px!important;
  }

// *** STYLES FOR COLORING THEME ***

  .masthead h1 .icon {
    color: $primary;
  }

  .ui.vertical.menu {
    width: 18rem;

    @media (max-width: 768px){
      width:100%
    }
  }

// **** STYLES FOR IMAGE UPLOADER ****
  #image-holder img{
    max-width:100%;
  }

// ********* STYLES FOR ADMIN ************
  &.admin-dashboard{
    @media (min-width: 768px) {
      .main.container{
        padding-left:140px!important;
      }
    }

    .ui.vertical.menu {
      width: 12rem;
    }
  }
}

// ********* STYLES FOR LOCATIONS ************
.label.locations{
  margin:10px;

  i:hover{
    cursor:pointer;
  }
}
#locations {
  label{
    cursor:pointer;
  }
  input:checked ~ label:before{
    background-color: #4ba000!important;
  }
  input:checked ~ label:after{
    background-color: white;
  }
}

.image-thumbnail{
  width:80px;
  height:80px;
}

// ########### MANAGE JOBS #############
.shortlisted-worker{
  width: 200px!important;
}

// ########### EXTRA DETAILS #############
#edit-worker .worker_visa_number{
  display:none;
}