@import "toastr/toastr.min.css";

.center.vertically{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.australia-map{
  margin:auto;
}

.mobile-only{
  display:block!important;

  @media (min-width: 768px) {
    display:none!important;
  }
}

.desktop-only{
  display:none!important;

  @media (min-width: 768px) {
    display:block!important;
  }
}

.label-list{
  .label{
    margin-bottom:5px!important;

    &:hover{
      cursor: pointer;
    }
  }
}
.no-margin{
  margin:0!important;
}

.profile-tabs{
  .active.item{
    background-color:#00b5ad !important;
    .description{
      color: white;
    }
    .icon{
      color:white;
    }
  }
}