@import "variables";
@import "toastr/toastr.min.css";

.center.vertically{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.australia-map{
  margin:auto;
}

.mobile-only{
  display:block!important;

  @media (min-width: 768px) {
    display:none!important;
  }
}

.desktop-only{
  display:none!important;

  @media (min-width: 768px) {
    display:block!important;
  }
}

.label-list{
  .label{
    margin-bottom:5px!important;

    &:hover{
      cursor: pointer;
    }
  }
}
.no-margin{
  margin:0!important;
}

/************ GLOBAL CARDS *************/
.ui.cards > .ui.card{
  &.job-card{
    .content{
      border-left-color:$primary-color;
      border-left-width:thick;
      border-left-style:solid;
    }
  }
  .show-more{
    color:$primary-color;
  }
}

/********************** THEME COLOR MODS ***********************/
.ui.inverted.primary.segment{
  background-color: $primary-color!important;
}
.ui.primary.segment{
  border-top: 2px solid $primary-color!important;
}