<% converter = {success: "success", error: "danger", notice: "info", alert: "warning"} %>

<% [:notice, :error, :alert, :success].each do |level| %>
  <% unless flash[level].blank? %>
    <div class="alert alert-<%= converter[level] %>">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= flash[level] %>
    </div>
  <%end%>
<%end%>